<div class="bandMemberGrid">
    <div class="bandMemberName">
        <h2><%= name %></h2>
    </div>
    <div class="bandMemberPictureBorder" >
        <div class="bandMemberPicture" style="background-image: url('/images/<%= image %>');"></div>
    </div>
    <div class="bandMemberInfo">
        <p><%= info %></p>
    </div>
    <div class="bandMemberSocials">
        <% for(var i=0; i < socialImages.length; i++) { %>
            <div class="bandMemberSocialsItem">
                <a href="<%= socialURLs[i] %>">
                    <img class="socialMediaLogo" src="/images/<%= socialImages[i] %>">
                </a>
            </div>
        <% } %>
    </div>
</div>