<div id="bandMember<%= bandMemberID %>" class="bandMemberCell">
    <div class="bandMemberCellBackgroundImage" style="background-image: url('/images/<%= bandMemberImage %>');">
    <a class="bandMemberNameLink fill" style="background: rgba(<%= backgroundColorRGB %>,0.5);" href="/<%= bandMemberURL %>">
        <h3 class="aboutBandMemberName"><%= bandMemberName %></h3>
        <p class="instrument"><%= instrument %></p>
    </a>
    </div>
</div>
