<div class="bandMemberFlex">
    <div class="bandMemberNamePictureSocials">
        <div class="bandMemberName">
            <h2><%= name %></h2>
        </div>
        <div class="bandMemberPicture" style="background-image: url('/images/<%= image %>');"></div>
        <div class="bandMemberSocials">
            <% for(var i=0; i < socialImages.length; i++) { %>
                <div class="bandMemberSocialsItem">
                    <a href="<%= socialURLs[i] %>">
                        <img class="socialMediaLogo" src="/images/<%= socialImages[i] %>">
                    </a>
                </div>
            <% } %>
        </div>
    </div>
    <div class="bandMemberInfo">
        <p><%= info %></p>
    </div>
</div>