<div id="bandMember<%= bandMemberID %>" class="bandMemberCell bandMemberCellBackgroundImage" style="background-image: url('/images/<%= bandMemberImage %>');" data-id="bandMember<%= bandMemberID %>">
    <div class="bandMemberCellBackground">
        <h3 class="aboutBandMemberName"><%= bandMemberName %></h3>
        <p class="instrument"><%= instrument %></p>
    </div>
</div>
