<div id="bandMember<%= bandMemberID %>" class="bandMemberCell bandMemberCellBackgroundImage" style="background-image: url('/images/<%= bandMemberImage %>');" data-name="<%= bandMemberID %>">
    <div class="bandMemberCellBackground">
        <div class="bandMemberOverview">
            <h3 class="bandMemberName"><%= bandMemberName %></h3>
            <p class="instrument"><%= instrument %></p>
            <div id="bandMemberSocials<%= bandMemberID %>" class="bandMemberSocials" style="display:none">
                <%- include(`../partials/socials${bandMemberID}`) %>
            </div>
        </div>
        <div id="bandMemberDescription<%= bandMemberID %>" class="bandMemberDescription" style="display: none;">
            <p><%= description %></p>
        </div>
    </div>
</div>
