<div id="mainFlex">
    <div id="headerSection">
        <div class="blueLayer">
            <%- include('../partials/header') %>
        </div>
    </div>
    <div id="mailingListSection">
        <div class="greyLayer">
            <%- include('mailingList') %>
        </div>
    </div>
    <div id="about">
        <div id="yellowLayer">
            <%- include('about') %>
        </div>
    </div>
    <div id="bandMembers">
        <%- include('bandMembers') %>
    </div>
    <div id="music">
        <div class="blueLayer">
            <%- include('music') %>
        </div>
    </div>
    <div id="shows">
    </div>
    <div id="contact">
    </div>
</div>